{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/pk.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Pradip Kolage</h5>
    <p class="card-text">Hey I'm Python developer currently Working In SanskrutiInfoTech Solution in pune </p>
    <a href="https://www.linkedin.com/in/pradip-kolage-30283474" class="btn btn-primary">About Me</a>
  </div>
</div>
{% endblock content %}
